body {
    margin: 0;
}

#navigation {
    background-color: #5D4DC7;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
}

#navigation img {
    width: 10%;
    height: 100%;
    user-select: none;
}

